@media (max-width: 767.98px) {
    .grey-page-content {
      flex-direction: column;
      padding: 2% 5%;
    }
  }
  
  @media (min-width: 767.99px) and (max-width: 991.98px) {
    .grey-page-content {
      flex-direction: column;
      padding: 15px;
      max-width: 700px;
    }
  }
  
  @media (min-width: 991.99px) and (max-width: 1199.98px) {
    .grey-page-content {
      flex-direction: row;
      padding: 15px;
      max-width: 900px;
    }
  }
  
  @media (min-width: 1199.99px) {
    .grey-page-content {
      flex-direction: row;
      padding: 15px;
      max-width: 1125px;
    }
  }

  .grey-page-content{
    min-height: 100%;
    width: 100%;
    padding: 70px 0px;
    overflow: hidden;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  
  .grey-page-container {
    width: 100%;
    background-color: #f5f6fa;
  }
  