.navbar-container {
  height: 70px;
  background-image: linear-gradient(90deg, #531ac5 0%, #7917c5 100%);
  /* background-image: url("/public/Images/gradient.png"); */
  position: fixed;
  transition: 0.3s ease;
  justify-content: center;
  width: 100%;
}

.scroll {
  -webkit-box-shadow: 0px -50px 6px 48px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px -50px 6px 48px rgba(66, 68, 90, 1);
  box-shadow: 0px -50px 6px 48px rgba(66, 68, 90, 1);
}

.navbar-content {
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 100%;
  flex-wrap: wrap;
  width: 100%;
  padding: 0% 13%;
}

.navbar-content-left {
  flex: 1;
}

.navbar-content-right {
  flex: 3;
  padding-right: 25%;
}
