@media (max-width: 767.98px) {
  .navbar-content {
    padding: 0% 5%;
  }
  .navbar-menu {
    padding: 0% 5%;
  }
}

@media (min-width: 767.99px) and (max-width: 991.98px) {
  .navbar-content {
    padding: 0px 15px;
    max-width: 700px;
  }
  .navbar-menu {
    padding: 0px 15px;
    max-width: 700px;
  }
}

@media (min-width: 991.99px) and (max-width: 1199.98px) {
  .navbar-content {
    padding: 0px 15px;
    max-width: 900px;
  }
}

@media (min-width: 1199.99px) {
  .navbar-content {
    padding: 0px 15px;
    max-width: 1100px;
  }
}

.navbar-container {
  height: 69.98px;
  background-image: linear-gradient(90deg, #531ac5 0%, #7917c5 100%);
  position: fixed;
  transition: 0.3s ease;
  width: 100%;
  z-index: 4000;
}

.navbar-container-visible {
  height: 389.98px;
  background-image: linear-gradient(90deg, #531ac5 0%, #7917c5 100%);
  position: fixed;
  transition: 0.3s ease;
  width: 100%;
  z-index: 4000;
}

.scroll {
  -webkit-box-shadow: 0px -50px 6px 48px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px -50px 6px 48px rgba(66, 68, 90, 1);
  box-shadow: 0px -50px 6px 48px rgba(66, 68, 90, 1);
}

.navbar-content {
  display: flex;
  vertical-align: middle;
  align-items: center;
  height: 69.98px;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.navbar-content-left {
  flex: 1;
}

.navbar-content-right {
  flex: 3;
  text-align: right;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
