.opening-page-container {
  /* background-image: linear-gradient(90deg, #531ac5 0%, #7917c5 100%); */
  background-image: url("/public/Images/op-gradient.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  height: 46rem;
  width: 100%;
  padding-top: 70px;
}

.opening-page-content {
  display: flex;
  flex-flow: wrap;
  padding: 2% 13%;
  justify-content: center;
  flex-wrap: wrap;
}
