.op-textside {
  color: white;
  flex: 1;
  margin-top: auto;
  margin-bottom: auto;
}

.op-header {
  font-size: 40px;
  font-weight: bolder;
  max-width: 450px;
  padding: 20px 0px;
}

.op-paragraph {
  font-size: 19px;
  max-width: 550px;
  line-height: 1.8;
}
